div{
    height: 190px;
    width: 250px;
    display: inline-block;
    border-radius:10%; 
}
.container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;

}
#box1{
    background-image: url('https://wallpapers.com/images/high/couple-silhouette-top-of-building-acuqaiesmwadpmb6.webp');
    background-size: cover;
}
#box2{
    background-image: url('https://wallpapers.com/images/hd/so-sad-ghost-of-a-man-bvcjdco1b6v5p58f.webp');
    background-size: cover;
    height: 280px;
}
#box3{
    background-image: url('https://wallpapers.com/images/high/cute-boy-cartoon-with-a-monarch-butterfly-aea54ezdpt0abzc6.webp');
    background-size: cover;
}
#box4{
    background-image: url('https://wallpapers.com/images/high/cute-boy-cartoon-writing-love-on-paper-kl42tu89qzubz70l.webp');
    background-size: cover;
    height: 280px;
}